/* test */
.intro {
    font-family: 'Open Sans', sans-serif;
}

.box {
    border: 1px solid black;
    background-color: #a9d1f5;
    border-top: 1px solid black;
    border-width: 5px;
    width: 100;
    height: 200px;
    margin: auto;
    border-style: dotted;
    border-color: rgb(255, 0, 0);
    border-radius: 30px;
}

#content {
    padding: 25px 50px 75px 100px;
}

#to_do_list {
    font-size: 1.5cm;
    color: hsl(14, 100%, 21%);
    text-decoration: underline;
    text-align: center;
}

#attendance {
    font-size: .35in;
}

#list1 {
    font-size: .5em;
}

#list2 {
    font-size: 3rem;
}

#list3 {
    font-size: 3ch;
}

* {
    margin: 2;
}

p {
    position: relative;
}

h3 {
    position: sticky;
    display: inline;
}

a {
    max-width: fit-content;
    min-width: none;
}

li, form{
    display: inline-block;
}

button:hover {
    color: blue
}

a:active {
    color: red;
}